@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-05-18 19:53:07
 * @version $Id$
 */
body{
 	position: fixed;
 	top:0;
	bottom: 0;
	left:0;
	right:0;
	background: url(1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* background: rgba(0,0,0,0.1); */
}
header{
	background-color: rgba(0,0,0,0.3);
	height: 700px;
}
h1{
	font-size:18px;
	font-weight: bold;
	color: #fff;
}
/* 内容水平垂直居中*/
#header_content{
	position: absolute;
	top:50%;
	left:50%;
	transform:  translate(-50%,-50%);
	text-align: center;
}
#header_content h1{
	display: inline-block;
	font-size: 40px;
	margin-bottom:30px; 
	padding: 10px 5px;
	position: relative;
}
#header_content h1::before{
	position: absolute;
	left: 50%;
	top: 0;
	content: '';
	margin-left: -40px;
	width: 80px;
	border-bottom: 2px solid #fff;
	transition: all ease .5s;
}
#header_content h1::after{
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  margin-left: -40px;
  width: 80px;
  border-bottom: 2px solid #fff;
  transition: all ease .5s;
}

#header_content:hover>h1::before,#header_content:hover>h1::after{
	margin-left: -90px;
  	width: 180px;
}
#header_content p{
	font-size: 30px;
	margin-bottom:50px; 
	color: #fff;
}
#header_content a{
	display: inline-block;
	width:100px;
	height: 50px;
	line-height: 48px;
	background: transparent;
	font-weight: bold;
	border: 2px solid #fff;
	border-radius: 15px;
	color:#fff;
	font-size: 20px;
}
#header_content a:hover{
	background: #fff;
	color: #333;
	transition: 0.2s;
}

